In [ ]:
import pandas as pd
from cognite.client.data_classes import functions
from cognite.client.data_classes.functions import FunctionSchedulesList
from cognite.client.data_classes.functions import FunctionSchedule

from initialize import initialize_client
cdf_env = "dev"

# Set limit on function calls - don't think it's really necessary ...
func_limits = functions.FunctionsLimits(timeout_minutes=60, cpu_cores=0.25, memory_gb=1, runtimes=["py39"], response_size_mb=2)
client = initialize_client(cdf_env)

In [22]:
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
import numpy as np
import json
mydate = pd.date_range(start=datetime(2023,5,7,10,15,10),
                       end=datetime(2023,5,8,20,25,15),
                       periods=50)

df = pd.DataFrame(np.random.random(50), index=mydate, columns=["data"])
df.iloc[21:49] = np.nan
df.resample("D").agg("mean")

# Set a random seed for reproducibility
np.random.seed(42)

# Create a DataFrame with four columns of 50 random numbers each
data = {
    'Column1': np.random.rand(50),
    'Column2': np.random.rand(50),
    'Column3': np.random.rand(50),
    'Column4': np.random.rand(50)
}

# Introduce some NaN values in one of the columns (e.g., Column2)
data['Column2'][np.random.choice(50, 10)] = np.nan

# Create the DataFrame
df = pd.DataFrame(data)
df["Column5"] = df["Column1"] + df["Column2"] / df["Column3"] - df["Column4"]

cond = df["Column1"] > 0.5
df2 = df["Column2"][cond].to_frame().values
df["Column1"][df.isna().any(axis=1)] = np.nan
json.dumps(df["Column1"].to_dict())

'{"0": 0.3745401188473625, "1": 0.9507143064099162, "2": 0.7319939418114051, "3": 0.5986584841970366, "4": 0.15601864044243652, "5": 0.15599452033620265, "6": 0.05808361216819946, "7": NaN, "8": 0.6011150117432088, "9": 0.7080725777960455, "10": NaN, "11": 0.9699098521619943, "12": 0.8324426408004217, "13": 0.21233911067827616, "14": 0.18182496720710062, "15": 0.18340450985343382, "16": 0.3042422429595377, "17": 0.5247564316322378, "18": 0.43194501864211576, "19": NaN, "20": 0.6118528947223795, "21": 0.13949386065204183, "22": 0.29214464853521815, "23": NaN, "24": 0.45606998421703593, "25": 0.7851759613930136, "26": 0.19967378215835974, "27": 0.5142344384136116, "28": 0.5924145688620425, "29": 0.046450412719997725, "30": 0.6075448519014384, "31": 0.17052412368729153, "32": 0.06505159298527952, "33": 0.9488855372533332, "34": NaN, "35": NaN, "36": 0.3046137691733707, "37": NaN, "38": 0.6842330265121569, "39": NaN, "40": 0.12203823484477883, "41": 0.4951769101112702, "42": 0.034388521115218396, "43": 0.9093204020787821, "44": 0.2587799816000169, "45": 0.662522284353982, "46": 0.31171107608941095, "47": NaN, "48": NaN, "49": 0.18485445552552704}'

##### Need to store model parameters in file, and upload this to CDF to be able to extract trained parameters for next call to the Cognite Function (fine-tuning for next schedule and prediction for subsequent period)

In [150]:
# client.files.upload("dummy_data.csv", external_id="dummy_data", name="dummy_data.csv", data_set_id=1832663593546318, mime_type="text/csv")
# client.files.download("cf_dummy", external_id="dummy_data")
# client.files.delete(external_id="dummy_data")

In [34]:
import ast

# data[col]: prints pd.Series object
# data[[col]]: prints pd.DataFrame object

myfunc = client.functions.retrieve(external_id="cf_wasted-energy")
my_schedule_id = client.functions.schedules.list(
                name="cf_wasted-energy").to_pandas().id[0]
myfunc.list_calls(schedule_id=my_schedule_id)
test = client.functions.calls.retrieve(call_id=3005253751851002, function_id=84587311037983).get_response()

8236094801741723

In [57]:
import pandas as pd
import json
test = pd.DataFrame([[1,2,3,4,5], [5,6,7,6,5]]).T
ast.literal_eval('{"test": None}')
orig = ast.literal_eval(test[0].to_json())
ast.literal_eval(json.dumps({"test": orig, "gsgg": json.dumps(None)}))

{'test': {'0': 1, '1': 2, '2': 3, '3': 4, '4': 5}, 'gsgg': 'null'}

In [44]:
from datetime import datetime
import numpy as np
dat = pd.date_range(start=datetime(2023,4,5,0),
                end=datetime(2023,4,6,2),
                freq="S")

df = pd.DataFrame(np.arange(len(dat)), index=dat, columns=["data"])
df.resample("H").agg("mean").iloc[0:20]
# df

                        data
2023-04-05 00:00:00   1799.5
2023-04-05 01:00:00   5399.5
2023-04-05 02:00:00   8999.5
2023-04-05 03:00:00  12599.5
2023-04-05 04:00:00  16199.5
2023-04-05 05:00:00  19799.5
2023-04-05 06:00:00  23399.5
2023-04-05 07:00:00  26999.5
2023-04-05 08:00:00  30599.5
2023-04-05 09:00:00  34199.5
2023-04-05 10:00:00  37799.5
2023-04-05 11:00:00  41399.5
2023-04-05 12:00:00  44999.5
2023-04-05 13:00:00  48599.5
2023-04-05 14:00:00  52199.5
2023-04-05 15:00:00  55799.5
2023-04-05 16:00:00  59399.5
2023-04-05 17:00:00  62999.5
2023-04-05 18:00:00  66599.5
2023-04-05 19:00:00  70199.5
2023-04-05 20:00:00  73799.5
2023-04-05 21:00:00  77399.5
2023-04-05 22:00:00  80999.5
2023-04-05 23:00:00  84599.5
2023-04-06 00:00:00  88199.5
2023-04-06 01:00:00  91799.5
2023-04-06 02:00:00  93600.0

sid = client.functions.schedules.list(function_id=func_drainage.id).to_pandas().id[0]
scid = func_drainage.list_calls(schedule_id=sid, limit=-1).to_pandas()
resp = func_drainage.retrieve_call(id=scid).get_response()
resp

my_func = client.functions.retrieve(external_id=data_dict["function_name"])
my_schedule_id = client.functions.schedules.list(
            name=data_dict["function_name"]).to_pandas().id[0]
all_calls = my_func.list_calls(
            schedule_id=my_schedule_id, limit=-1).to_pandas()
all_calls.tail()

pd.date_range(start=datetime(2023,11,16,0,0), end=datetime(2023,11,16,3,51), freq="T")
extid = client.time_series.list(name="VAL_17-FI-9101-286:VALUE")[0].external_id
ts_orig_all = client.time_series.data.retrieve(external_id=extid,
                                                   limit=20,
                                                   ).to_pandas()
ts_orig_all.head()