## Notebook to deploy Cognite Function 

This interactive notebook guides you through the necessary steps to deploy the Cognite Function associated with this project folder to the CDF platform. It provides step-by-step instructions with all necessary actions by the user.

### 1. Authenticate with Cognite client

In [10]:
from cf_template.initialize_cdf_client import initialize_cdf_client
from pathlib import Path
cwd = Path.cwd().resolve()

cdf_env = "dev" # TODO: Change to test/prod when changing to assicated env

client = initialize_cdf_client(cdf_env="dev")

### 1. Required input parameters

The following lists required parameters needed to deploy the Cognite Function. The parameters enters a data dictionary that is supplied to the `data` argument of the main entry of the deployment, `handler.py`.

- `ts_input_names` (list)
    - name of input time series (one string per input)
- `ts_output_names` (list)
    - name of output time series (one string per output)
- `dataset_id`
    - id of the dataset in CDF to write the new time series to
- `function_name` (str)
    - name of Cognite Function to be deployed, by default the name of the associated Cognite Functions folder
    - to maintain structure, we recommend the naming convention `*ds_cf-name*`, where *ds* is an (abbreviated) name of the dataset holding the time series, and *cf-name* is a descriptive name of your Cognite Function (where words are separated by dashes (-))
- `schedule_name` (str)
    - name of schedule to deploy with your Cognite Function
    - important with a unique, descriptive name to discern different schedules for the same Cognite Function. E.g., if setting up different schedules for different time series, the name of the time series could be used to distinguish different schedules

In [11]:
from cf_template.main import NewCogniteFunction

input_ts_names = ["VAL_11-PIT-110020:VALUE"]
output_ts_names = ["VAL_11-PIT-110020:DUMMY"]
dataset_id = 1832663593546318
function_name = cwd.parent.as_posix().split("/")[-1]
schedule_name = input_ts_names[0]

new_cf = NewCogniteFunction(cdf_env=cdf_env, client=client,
                            input_ts_names=input_ts_names,
                            output_ts_names=output_ts_names,
                            dataset_id=dataset_id,
                            name_of_function=function_name,
                            name_of_schedule=schedule_name)

### 2. Set up transformation

The desired transformation/calculation of the input time series must be created in the `transformation` function in the `transformation.py` script. The function is by default empty, but is supposed to by populated by the user. You can use any Python libraries that you want to perform the calculations, but make sure that the function returns a transformed time series as a pandas Dataframe with column names corresponding to the name of the output time series.

### 3. Deploy the Cognite Function

After the calculation function is set up, the actual deployment to CDF can commence. The Cognite Function is to be run on a schedule, automatically performing frequent transformations. Run the following code cell to deploy your Cognite Function on a schedule.

A scheduled call of the Cognite Function is run by default. To only run a single call, set
- `new_cf.deployment_single_call = True`
- `new_cf.deployment_scheduled_call = False`

before running `new_cf.deploy_cf()`.

In [ ]:
new_cf.deploy_cf()

In [16]:
import pandas as pd
import numpy as np

data = {'Column1': [1, 3, 7, 12, 3, 12, 5],
        'Column2': [2, 4, 1, 5, 3, 8, 7]}
df = pd.DataFrame(data)
df**2

   Column1  Column2
0        1        4
1        9       16
2       49        1
3      144       25
4        9        9
5      144       64
6       25       49